mixin house-card(data)
    +el({
        class: 'house-card',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'a',
            href: '',
            class: 'house-card__image-wrap',
        })
            +el({
                tag: 'img',
                upload: data.image,
                class: 'house-card__image',
                alt: 'Фото коттеджа'
            })
        .house-card__content
            .house-card__heading-wrap
                +el({
                    tag: 'h4',
                    mix: 'house-card__heading',
                    before: {
                        tag: 'a',
                        class: 'house-card__heading-link',
                        text: 'коттедж ',
                        after: {
                            tag: 'span',
                            class: 'house-card__heading--number',
                            text: data.number,
                        }
                    }
                })
            +specification({
                mix: 'house-card__specification',
                mod: 'no-dots',
                items: [
                    {
                        name: 'Площадь дома:',
                        value: '148 м<sup>2</sup>'
                    },
                    {
                        name: 'Площадь участка:',
                        value: '211 м<sup>2</sup>'
                    },
                ]
            })
            .house-card__button-wrap
                +button({
                    tag: 'a',
                    mod: ['small', 'shadow'],
                    text: 'Подробнее',
                })
