mixin house-list(data)
    +el({
        tag: 'ul',
        class: 'house-list',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
    })(itemscope itemtype="http://schema.org/ItemList")
        each item in data.items
            li.house-list__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                +house-card-w-slider({
                    image: item.image,
                    number: item.number,
                    price: item.price,
                })
