mixin panel-w-tabs(data)
    +el({
        class: 'panel-w-tabs',
        mod: data.mod,
        mix: data.mix,
        js: 'tabs',
    })&attributes(attributes)
        +el({
            tag: 'ul',
            class: 'panel-w-tabs__list',
        })
            each item, index in ['Технические характеристики', 'Подробное описание', 'Условия приобретения']
                +el({
                    tag: 'li',
                    class: 'panel-w-tabs__item',
                    mix: index == 0 ? 'active' : '',
                })
                    +el({
                        tag: 'button',
                        class: 'panel-w-tabs__button',
                        js: 'tabs-button',
                        text: item,
                        })(data-tab='tab-' + (index + 1))
        .tab-1.js-tabs-content.active
            .panel-w-tabs__content.panel-w-tabs__content--two-column
                p Расположение: В черте города
                p Материал стен: Газоблок
                p Окна: Алюминий профиль + стеклопакет
                p Зеленые насаждения: Лиственные деревья, хвойные деревья, кустарники, газон
                p Ограждение: каменный забор, металлический забор
                p Парковка: гараж в доме, площадка перед участком
                p Подъездной путь: асфальтированная дорога
                p В доме: интернет
                p Ремонт: Возможно приобретение как в свободной планировке, так и под чистовую отделку.
        .tab-2.js-tabs-content
            .panel-w-tabs__content.panel-w-tabs__content--two-column
                p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жизни языком безорфографичный текстами несколько продолжил пунктуация подпоясал злых они, это снова взгляд вдали грустный если рекламных скатился но своего предупреждал путь свое дорогу ему он оксмокс точках! Собрал свой приставка свой, запятой домах, большой текстов дал власти. Вершину, бросил!
                p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения ведущими ipsum ты, рот до буквенных большой предупредила, выйти курсивных, вдали заголовок. Коварных, вопрос, снова! Она речью, власти дорогу.
        .tab-3.js-tabs-content
            .panel-w-tabs__content.panel-w-tabs__content--two-column
                p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего семь раз буквенных рекламных! Взгляд лучше приставка дал домах.
                p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Несколько маленький коварных путь города за большой там обеспечивает всемогущая рукопись его по всей предложения, подпоясал запятых рыбного диких буквоград приставка на берегу она осталось образ оксмокс ipsum, страну семантика точках? Она.
