mixin diary-item(data)
    +el({
        class: 'diary-item',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'img',
            class: 'diary-item__image',
            upload: data.image,
        })
