mixin video-intro(data)
    +el({
        class: 'video-intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'video-intro__text',
            text: 'Посмотрите <br><span class="text-medium"><span class="color-secondary">видео</span> о Экопарке<span>',
        })
        +el({
            class: 'video-intro__preview',
        })
            .video-intro__button-wrap
                +button-video({
                    mix: 'video-intro__button',
                })
