mixin intro(data)
    +el({
        class: 'intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .intro__wrap
            +el({
                tag: 'h1',
                mix: 'intro__heading',
                text: '<span class="intro__heading--lg"><span class="intro__heading--secondary">Уникальный формат</span> загородного жилья</span>, настоящий островок средиземноморского стиля в&nbsp;окружении лесного массива',
            })
            +el({
                tag: 'p',
                mix: 'intro__text',
                text: '<span class="intro__text--accent">40 домов</span> площадью от&nbsp;100 до 248&nbsp;м<sup>2</sup> доступны для&nbsp;жизни и&nbsp;отдыха на&nbsp;Южном берегу Крыма',
            })
            +button({
                tag: 'a',
                mix: 'intro__button',
                mod: ['shadow', 'large'],
                text: 'Посмотреть планировки',
            })

            .intro__bottom
                .intro__advantages-wrap
                    +advantages({
                        items: advantages,
                        mix: 'intro__advantages',
                    })
                +video-intro({
                    mix: 'intro__video'
                })
