mixin news-diary(data)
    +el({
        class: 'news-diary',
        mod: data.mod,
        mix: data.mix,
        js: 'tabs-small',
    })&attributes(attributes)
        .news-diary__tabs-wrap
            +tabs({
                mix: 'news-diary__tabs',
                items: [
                    {
                        text: 'Новости',
                        js: 'tabs-button',
                    },
                    {
                        text: 'Дневник строительства',
                        js: 'tabs-button',
                    }
                ],
            })
        .tab-1.js-tabs-small-content.active
            +news({
                items: news,

            })
        .tab-2.js-tabs-small-content
            +diary({
                items: diarys,
            })
