mixin house-plan(data)
    +el({
        class: 'house-plan',
        mix: data.mix,
        mod: data.mod,
        js: 'tabs-small',
    })&attributes(attributes)
        .house-plan__wrap
            +main-card({

            }).house-plan__main-card.house-plan__main-card--desktop
            +tabs({
                mix: 'house-plan__tabs',
                items: [
                    {
                        text: 'Дома',
                        js: 'tabs-button',
                    },
                    {
                        text: 'Генеральный план',
                        js: 'tabs-button',
                    }
                ],
            })
        .house-plan__tabs-content-wrap
            .tab-1.js-tabs-small-content.active
                .house-plan__list.js-house-plan-slider.swiper-container
                    .swiper-wrapper
                        each item, index in data.items
                            .house-plan__item.swiper-slide
                                +house-card({
                                    image: item.image,
                                    number: item.number,
                                    price: item.price,
                                    index: index + 1,
                                })
                    .house-plan__bullet.js-house-plan-bullet.swiper-pagination
            .tab-2.js-tabs-small-content
                .house-plan__main-card.house-plan__main-card--mobile
                    +el({
                        tag: 'img',
                        class: 'house-plan__image',
                        image: 'house-plan-mob.jpg'
                    })
