extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false

block content
    main.page-content
        .page-content__wrap
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="page-blog-list.html") Блог
                li
                    a(href="page-blog-item.html") Cтатья
                li
                    a(href="page-house-list.html") Коттеджи
                li
                    a(href="page-house-item.html") Коттедж
                li
                    a(href="page-contacts.html") Контакты
                li
                    a(href="components.html") Компоненты
