extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false

block content
    main.page-content
        .page-content__wrap
            ul
                li
                    a(href="page-main.html") Главная
                li
                    a(href="page-posts-section.html") Блог
                li
                    a(href="page-posts-item.html") Cтатья
                li
                    a(href="page-house-section.html") Коттеджи
                li
                    a(href="page-house-item.html") Коттедж
                li
                    a(href="page-contacts.html") Контакты
                li
                    a(href="page-docs-section.html") Документы
                li
                    a(href="page-about-section.html") Об Экопарке
                li
                    a(href="page-place-section.html") Уникальность места
                li
                    a(href="page-service-section.html") Услуги
                li
                    a(href="page-location-section.html") Что рядом с Экопарком?
                li
                    a(href="page-condition-section.html") Условия приобретения
                li
                    a(href="page-our-objects.html") Наши объекты
                li
                    a(href="page-building.html") Особенности строительства
                li
                    a(href="components.html") Компоненты
