extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false
    - var pageId = 5

block content
    main.page-content
        .page-content__wrap
            +breadcrumbs({
                items: ['Главная', 'Блог', 'Статья'],
                mix: 'page-content__breadcrumbs',
            })
            +link-comeback({
                mix: 'page-content__link-comeback',
            })
            article.article
                h2 Разработан очередной проект виллы
                +date({
                    text: '29 апреля 2019',
                })
                p.
                    Приятно, граждане, наблюдать, как действия представителей оппозиции призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений. Внезапно, интерактивные прототипы лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Новая модель организационной деятельности играет важную роль в формировании стандартных подходов. Учитывая ключевые сценарии поведения, экономическая повестка сегодняшнего дня выявляет срочную потребность новых принципов формирования материально-технической и кадровой базы. Консультация с широким активом выявляет срочную потребность своевременного выполнения сверхзадачи. Ясность нашей позиции очевидна: экономическая повестка сегодняшнего дня однозначно определяет каждого участника как способного принимать собственные решения касаемо своевременного выполнения сверхзадачи. Таким образом, сплоченность команды профессионалов обеспечивает актуальность направлений прогрессивного развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что интерактивные прототипы освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, призваны к ответу.
                blockquote.
                    Близость к инфраструктуре города позволит
                    совершенно свободно пользоваться всеми
                    благами и возможностями города
                p
                    +el({
                        tag: 'img',
                        upload: 'post01.jpg',
                        width: '557',
                        height: '340',
                    })
                p.
                    Приятно, граждане, наблюдать, как действия представителей оппозиции призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений. Внезапно, интерактивные прототипы лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы. Новая модель организационной деятельности играет важную роль в формировании стандартных подходов. Учитывая ключевые сценарии поведения, экономическая повестка сегодняшнего дня выявляет срочную потребность новых принципов формирования материально-технической и кадровой базы. Консультация с широким активом выявляет срочную потребность своевременного выполнения сверхзадачи. Ясность нашей позиции очевидна: экономическая повестка сегодняшнего дня однозначно определяет каждого участника как способного принимать собственные решения касаемо своевременного выполнения сверхзадачи. Таким образом, сплоченность команды профессионалов обеспечивает актуальность направлений прогрессивного развития. В своем стремлении улучшить пользовательский опыт мы упускаем, что интерактивные прототипы освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, призваны к ответу.
