extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = true
    //- - var pageId = 1

block content
    main.main-content
        .main-content__section-top-wrap
            .main-content__wrap
                .main-content__branch.main-content__branch--top.js-parallax(style="background-image: url(assets/images/branch-without-cone.png)")
            +house-plan({
                mix: 'main-content__house-plan js-down',
                items: house
            })
            +feedback({
                mix: 'main-content__feedback',
            })
            +house-top({
                mix: 'main-content__house-top',
                items: houseTop
            })
        +features({
        })
        +quote({})
        +map({})
        +news-diary({

        })

block modalPage
    +modal({
        js: 'modal-video',
        video: true,
        mod: 'video',
    })
