extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false
    - var pageId = 5

block content
    main.page-content.page-content--posts
        .page-content__wrap
            .page-content__heading Блог
        +posts({
            items: posts,
            mix: 'page-content__posts',
        })

        br
        +pagination({
            mix: 'page-content__pagination',
        })
