extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false
    - var pageId = 2

block content
    main.page-content
        .page-content__wrap
            +breadcrumbs({
                items: ['Главная', 'Наши объекты', 'Коттеджи'],
                mix: 'page-content__breadcrumbs',
            })
            .page-content__heading Коттеджи
        .page-content__content.page-content__content--bg-light-w-brash.page-content__content--bg-w-logo.page-content__content--pads-bottom.js-tabs
            .page-content__wrap
                +tabs-blocks({
                    mix: 'page-content__tabs-house-list',
                    items: [
                        {
                            text: 'Таунхаусы',
                            js: 'tabs-button',
                        },
                        {
                            text: 'Коттеджи',
                            js: 'tabs-button',
                        },
                        {
                            text: 'Виллы',
                            js: 'tabs-button',
                        },
                    ]
                })
                .tab-1.js-tabs-content.active
                    +house-list({
                        items: houseList1,
                    })
                .tab-2.js-tabs-content
                    +house-list({
                        items: houseList2,
                    })
                .tab-3.js-tabs-content
                    +house-list({
                        items: houseList3,
                    })
                +pagination({
                    mix: 'page-content__pagination',
                })
        +feedback({})
