extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false
    - var pageId = 1

block content
    main.page-content.page-content--no-pads
        section.about-section
            +about-intro({
                gallery: gallery.main
            })
            +about-descr({

            })
            +about-service({

            })
            +about-form({

            })
