extends ./templates/template

block vars
    - var pageTitle = 'Экопарк'
    - var main = false
    - var pageId = 2

block content
    main.page-content
        .page-content__wrap
            h1.page-content__heading
        +el({
            tag: 'section',
            class: 'house-plan',
        })
            .house-plan__wrap
                .house-plan__main-card.house-plan__main-card--desktop
                    .house-plan__heading-wrap
                        h2.house-plan__heading
                            | Выберите
                            |
                            span.house-plan__heading--accent
                                | дом мечты
        +el({
            class: 'house-section',
            js: 'tabs',
        })
            .house-section__wrap
                h1.house-section__heading Коттеджи
            .house-section__content
                .house-section__wrap
                    +tabs-blocks({
                        mix: 'house-section__tabs',
                        items: [
                            {
                                text: 'Таунхаусы',
                                js: 'tabs-button',
                            },
                            {
                                text: 'Коттеджи',
                                js: 'tabs-button',
                            },
                            {
                                text: 'Виллы',
                                js: 'tabs-button',
                            },
                        ]
                    })
                    .tab-1.js-tabs-content.active
                        +house-list({
                            items: houseList1,
                        })
                    .tab-2.js-tabs-content
                        +house-list({
                            items: houseList2,
                        })
                    .tab-3.js-tabs-content
                        +house-list({
                            items: houseList3,
                        })
                    +pagination({
                        mix: 'house-section__pagination',
                    })

        +feedback({})
