mixin service-intro(data)
    +el({
        class: 'service-intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .service-intro__wrap
            .service-intro__content
                h1.service-intro__heading Услуги
                h2.service-intro__subheading Архитектурное бюро
                p.
                    Таунхаусы продаются в&nbsp;свободной планировке и&nbsp;без отделки.
                    Продуманные планировки внутреннего пространства отличает высокая функциональность,
                    а&nbsp;отсутствие внутренних перегородок оставляет возможность воплотить
                    Ваши собственные идеи и&nbsp;предпочтения. Мы&nbsp;будем рады выполнить
                    для наших покупателей весь цикл отделочных работ от&nbsp;дизайн-проекта
                    и&nbsp;планировочных решений до&nbsp;финальной уборки.
            ul.service-intro__list
                li.service-intro__item
                    +item-w-card({
                        text: '<span class="item-w-card--uppercase">Разработка дизайна</span> <br>1&nbsp;500&nbsp;р&nbsp;за&nbsp;м<sup>2</sup>'
                    })
                li.service-intro__item
                    +item-w-card({
                        text: '<span class="item-w-card--uppercase">Отделочные работы</span> от <br>10&nbsp;000&nbsp;р&nbsp;за&nbsp;м<sup>2</sup>'
                    })
            .service-intro__image-wrap
                +picture-small-and-large({
                    path: 'service',
                    large: 'service-01-lg',
                    small: 'service-01-sm',
                    exp: 'jpg',
                })
