$button-border-width: 1px;

$button: (
  small: (
    small: (
      height: 44px,
      font-size: 14px,
      pads-x: 24px,
    ),
    medium: (
      height: 52px,
      font-size: 18px,
      pads-x: 28px,
    ),
    large: (
      height: 60px,
      font-size: 16px,
      pads-x: 30px,
    ),
  ),
  medium: (

  ),
  large: (
    large: (
      height: 70px,
      font-size: 18px,
      pads-x: 36px,
    ),
  ),
);

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  font-weight: 500;
  text-decoration: none;
  height: auto;
  cursor: pointer;
  text-align: center;

  &--small {
    min-height: get($button, small, small, height);
    padding: (get($button, small, small, height) - (get($button, small, small, font-size) + 4px))/2 get($button, small, small, pads-x);
    border-radius: get($button, small, small, height)/2 + 1px;
    font-size: get($button, small, small, font-size);
    line-height: get($button, small, small, font-size) + 4px;
  }

  &--medium {
    min-height: get($button, small, medium, height);
    padding: (get($button, small, medium, height) - (get($button, small, medium, font-size) + 4px))/2 get($button, small, medium, pads-x);
    border-radius: get($button, small, medium, height)/2 + 1px;
    font-size: get($button, small, medium, font-size);
    line-height: get($button, small, medium, font-size) + 4px;
  }

  &--large {
    min-height: get($button, small, large, height);
    padding: (get($button, small, large, height) - (get($button, small, large, font-size) + 4px))/2 get($button, small, large, pads-x);
    border-radius: get($button, small, large, height)/2 + 1px;
    font-size: get($button, small, large, font-size);
    line-height: get($button, small, large, font-size) + 4px;
  }

  &--bg-primary {
    background-color: color(primary);
    color: color(white);

    @include hover {
      background-color: darken(color(primary), $change);
      color: rgba(color(white), 0.7);
    }
  }

  &--bg-secondary {
    background-color: color(secondary);
    color: #051e0e;

    @include hover {
      background-color: darken(color(secondary), $change);
      color: rgba(#051e0e, 0.7);
    }
  }

  &:disabled,
  &--bg-disabled,
  &--border-disabled {
    pointer-events: none;
    cursor: default;
  }

  &--bg-disabled {
    background-color: color(disabled);
    color: color(white);
  }

  &--border-primary {
    box-shadow: inset 0 0 0 $button-border-width color(primary);
    color: color(primary);

    @include hover {
      background-color: color(primary);
      color: color(white);
    }
  }

  &--border-secondary {
    box-shadow: inset 0 0 0 $button-border-width color(secondary);
    color: color(secondary);

    @include hover {
      background-color: color(secondary);
      color: color(white);
    }
  }

  &--border-disabled {
    box-shadow: inset 0 0 0 $button-border-width color(disabled);
    color: color(disabled);
  }

  &--shadow {
    background-color: color(secondary);
    color: #051e0e;
    text-shadow: -1px 1px 0 rgba(color(white), 0.1);

    @include hover {
      background-color: darken(color(secondary), $change);
    }
  }

  &--with-icon-after {
    .button__icon {
      margin-left: 15px;
    }
  }

  &--with-icon-before {
    .button__icon {
      margin-right: 15px;
    }
  }
}

.button--large.button--shadow {
  background-image: linear-gradient(#8ab23f, #5f831d);
  background-color: color(secondary);
  box-shadow:
    inset 0 0 13px 0 rgba(#fff, 0.3),
    0 10px 30px 0 rgba(color(secondary), 0.4);

  @include hover {
    color: rgba(#051e0e, 0.7);

    box-shadow:
      inset 0 0 13px 0 rgba(#fff, 0.3),
      0 0px 10px 0 rgba(color(secondary), 0.4);
  }
}

.button__icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

@include respond-to(medium) {
  .button {

  }
}

@include respond-to(large) {
  .button {
    &--large {
      min-height: get($button, large, large, height);
      padding: (get($button, large, large, height) - (get($button, large, large, font-size) + 4px))/2 get($button, large, large, pads-x);
      border-radius: get($button, large, large, height)/2 + 1px;
      font-size: get($button, large, large, font-size);
      line-height: get($button, large, large, font-size) + 4px;
    }
  }

  .button--small.button--shadow {
    background-image: linear-gradient(#8ab23f, #5f831d);
    background-color: color(secondary);
    box-shadow:
      inset 0 0 13px 0 rgba(#fff, 0.3),
      0 4px 15px 0 rgba(color(secondary), 0.4);

    @include hover {
      color: rgba(#051e0e, 0.7);

      box-shadow:
        inset 0 0 13px 0 rgba(#fff, 0.3),
        inset 0 -5px 10px 0 rgba(#fff, 0.2),
        0 0px 5px 0 rgba(color(secondary), 0.4);
    }
  }
}
