.house-card  {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: radius(sm);
  box-shadow: 0 0 18px 0 rgba(#dedede, 0.6);
  background-color: color(white);
  overflow: hidden;
  box-sizing: border-box;
}

.house-card__image-list {
  position: relative;
}

.house-card__image-item {
  height: 245px;
}

.house-card__image-wrap {
  display: block;
  height: 100%;
  text-decoration: none;
  background-color: color(light);
  overflow: hidden;
  outline: none;
  @include maskEco;
  box-sizing: border-box;

  @include hover {
  }
}

.house-card__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
}

.house-card__control {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;

  .control {
    &--prev {
      margin-right: 1px;
    }
  }
}

.house-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 35px;
}

.house-card__heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;

  &--number {
    font-weight: 700;
  }
}

.house-card__heading-link {
  color: inherit;
  text-decoration: none;
  outline: none;

  @include hover {
    text-decoration: underline;
  }
}

.house-card__price {
  display: none;
}

.house-card__bottom {
  margin-top: auto;
}

.house-card__button-wrap {
  text-align: center;
  margin-top: 20px;
}

.house-card__button {
  margin: 0 auto;
  height: 44px !important;
}

.house-card__control {
  display: none;
}

@include respond-to(medium) {
  .house-card  {
    box-shadow: 0 13px 16px 0 rgba(#031307, 0.2);
  }

  .house-card__control {
    display: flex;
  }

  .house-card__image-wrap {
    height: 22vw;

    &::after {
      opacity: 0;
    }
  }

  .house-card__content {
    padding: 22px;
    padding-top: 12px;
  }
}

@include respond-to(large) {
  .house-card__image-wrap {
    height: 280px;
  }

  .house-card__heading-wrap {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .house-card__heading {
    position: relative;
    display: inline-block !important;
    width: auto !important;
    padding-right: 20px;
    background-color: color(white);

    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      z-index: -1;
      right: -9999px;
      height: 1px;
      background-color: color(secondary);
    }

    &--number {
      font-size: 30px;
      font-weight: 700;
    }
  }

  .house-card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .house-card__price {
    display: block;
    font-size: 30px;
  }

  .house-card__rouble {
    font-weight: lighter;
    font-size: 28px;
    padding: 0 8px;
  }

  .house-card__button-wrap {
    margin-top: 0;
  }
}
