.house-card  {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: radius(sm);
  box-shadow: 0 0 18px 0 rgba(#dedede, 0.6);
  background-color: color(white);
  overflow: hidden;
  box-sizing: border-box;
}

.house-card__image-wrap {
  position: relative;
  display: block;
  height: 254px;
  text-decoration: none;
  background-color: color(light);
  overflow: hidden;
  outline: none;
  @include maskEco;
  box-sizing: border-box;

  @include hover {
  }
}

.house-card__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
}

.house-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 35px;
}

.house-card__heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;

  &--number {
    font-weight: 700;
  }
}

.house-card__heading-link {
  color: inherit;
  text-decoration: none;
  outline: none;

  @include hover {
    text-decoration: underline;
  }
}

.house-card__specification {
  margin-top: auto;
}

.house-card__button-wrap {
  text-align: center;
  margin-top: 20px;
}

.house-card__button {
  margin: 0 auto;
  height: 44px;
}
