.house-plan {
  padding-top: 30px;
  padding-bottom: 20px;
}

.house-plan__wrap {
  @include wrapper
}

.house-plan__heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.house-choice__tabs {
  margin-bottom: 20px;
}

.house-plan__list {
  .swiper-slide-active {
    .house-card__image-wrap {
      &::after {
        opacity: 0 !important;
        pointer-events: none;
      }
    }
  }
}

.house-plan__item {
  width: 100%;
  padding: 0 15px;
  max-width: 360px;
  box-sizing: border-box;
}

.house-plan__main-card {
  overflow: hidden;

  &--mobile {
    height: 55vw;
    margin: 0 20px;
    border-radius: radius(sm);
    background-color: color(secondary);
  }
}

.house-plan__tabs {
  margin-bottom: 20px;
}

.house-plan__bullet {
  position: relative;
  margin-top: 30px;
  height: 24px;
}

.house-plan__image {
  display: block;
  width: 100%;
  height: 100%;
  @include ofi(cover, center);
}

@include respond-to(medium) {
  .house-plan {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .house-plan__main-card {
    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }
  .house-plan__tabs {
    display: none;
  }

  .house-plan__tabs-content-wrap {
    display: none;
  }
}

@include respond-to(large) {
  .house-plan__main-card {
    width: 950px;
    height: 650px;

    &::after {
      left: 70px;
      right: 70px;
    }
  }

  .house-plan__heading-wrap {
    height: 384px;
    padding-top: 50px;
    padding-left: 60px;
    background-size: 763px 384px;
  }

  .house-plan__heading {
    font-size: 50px;
    font-weight: 500;
  }
}
