.main-header {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 560px;
  max-height: 815px;
  padding-top: 15px;
  padding-bottom: 50px;
  color: color(white);
  background-color: color(black);
  overflow: hidden;
}

.main-header__wrap {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding-left: pads(small);
  padding-right: pads(small);
}

.main-header__top {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-header__button-nav-wrap {
  position: relative;
  margin-right: 20px;
  width: $button-nav-width;
  height: $button-nav-height;
  transform: translate(-4px, -4px);
}

.main-header__logo {
  margin-top: -24px;
  margin-bottom: 60px;
}

.main-header__panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1010;
  transform: translate(-100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: color(white);
  color: color(black);
  transition: duration(md) func(primary);

  &.active {
    transform: translate(0%);
  }
}

.main-header__close-panel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-header__panel-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.main-header__main-nav {
  margin-bottom: auto;
}

.main-header__panel-bottom {
  margin-top: 30px;
  padding: 20px;
  padding-left: 30px;
  border-top: 1px solid rgba(color(secondary), 0.4);
}

.main-header__callback {
  &--desktop {
    display: none;
  }

  &--mobile {
    .button-icon__icon {
      fill: color(primary);
    }
  }
}

.main-header__overlay {
  z-index: 5;
}

// прячем на мобильной версии
.main-header__heading {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
}

.main-header__text {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 28px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;

  &--accent {
    color: color(secondary);
  }
}

.main-header__button-wrap {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

.main-header__bottom {
  margin-top: auto;
}

.main-header__advantages-wrap {
  display: none;
}

.main-header__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  background-repeat: no-repeat;
  background-position: calc(50% + 100px) top;
  background-size: cover;
  background-image: url("../assets/images/bg-header-sm.jpg");

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -130px;
    z-index: 1;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(to bottom, #031307 0, #031307 5%, rgba(#011809, 0.5) 20%,  rgba(#011809, 0.5) 70%, #031307 calc(100% - 130px), #031307 calc(100% - 130px),  #031307 100%),
      url('../assets/images/branch-header-sm.png'),
      url('../assets/images/branch-header-sm.png');
    background-position:
      center,
      -80px calc(100% - 30px),
      calc(100% + 50px) calc(100% - 30px);
    background-size:
      auto,
      220px 211px,
      220px 211px;
  }
}

@include respond-to(420px) {
  .main-header__text {
    font-size: 24px;
  }

  .main-header__button {
    width: auto;
    margin: 0 auto;
  }
}

@include respond-to(600px) {
  .main-header__bg {
    background-position: center;
  }
}

@include respond-to(1024px) {
  .main-header {
    min-height: 768px;
    max-height: 1024px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 520px;
      background-color: #051e0e;
      background-image: url('../assets/images/bg-header-aside.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 520px;
      z-index: 1;
      width: 712px;
      height: 957px;
      transform: translate(-400px);
      background-image: url('../assets/images/branch-header-lg.png');
    }
  }

  .main-header__bg {
    bottom: 0;
    left: 520px;
    background-size: cover;
    background-position: top left;
    background-image: url("../assets/images/bg-header-lg.jpg");

    &::after {
      bottom: 0;
      background-repeat: no-repeat;
      background-image:
        linear-gradient(to top, #031307 0, rgba(#011809, 0.5) 40%,  rgba(#011809, 0.5) 100%);
    }
  }

  .main-header__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding-left: pads(medium);
    padding-right: pads(medium);
  }

  .main-header__top {
    width: auto;
    margin-right: 40px;
    margin-top: 40px;
  }

  .main-header__logo {
    margin: 0;
    // margin-right: 40px;
  }

  .main-header__callback {
    &--desktop {
      display: block;
      margin-left: auto;
      margin-top: 16px;
    }

    &--mobile {
      display: none;
    }
  }

  .main-header__heading {
    position: static;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: auto;
    margin-bottom: 15px;
    margin-right: calc(100% - 1000px);
    overflow: visible;
    color: color(white);
    font-size: 32px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.38;

    &--lg {
      text-transform: uppercase;
      font-weight: 700;
    }

    &--secondary {
      color: color(secondary);
    }
  }

  .main-header__text {
    width: 100%;
    max-width: none;
    margin-right: calc(100% - 660px);
    margin-bottom: 25px;
    text-align: left;
    font-weight: 400;

    &--accent {
      color: color(secondary);
      font-weight: 500;
    }
  }

  .main-header__button-wrap {
    margin-bottom: 30px;
    text-align: left;
  }

  .main-header__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .main-header__advantages-wrap {
    flex-grow: 1;
    display: block;
    margin-right: 80px;
  }

  .main-header__video {
    flex-shrink: 0;
    margin-top: 0;
  }

  .main-header__phone-button {
    display: none;
  }
}

@include respond-to(large) {
  .main-header {
    min-height: 820px;
    max-height: 1240px;
    padding-bottom: 55px;

    &::after {
      width: 665px;
    }

    &::before {
      left: 665px;
    }
  }

  .main-header__bg {
    left: 665px;
  }

  .main-header__wrap {
    padding-left: pads(large);
    padding-right: pads(large);
  }

  .main-header__heading {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: calc(100% - 1200px);
    font-size: 40px;
  }

  .main-header__text {
    margin-left: 100px;
    margin-right: calc(100% - 750px);
    font-size: 26px;
  }

  .main-header__button-wrap {
    margin-left: 100px;
  }
}

@include respond-to(1600px) {
  .main-header {
    padding-top: 0;

    &::after {
      width: 675px;
    }

    &::before {
      left: 675px;
    }
  }

  .main-header__bg {
    left: 675px;
  }

  .main-header__wrap {
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-start;
  }

  .main-header__top,
  .main-header__overlay,
  .main-header__button-nav-wrap,
  .main-header__phone-button,
  .main-header__panel-bottom {
    display: none;
  }

  .main-header__panel {
    position: static;
    z-index: 1;
    transform: none;
    flex-direction: row;
    justify-content: flex-start;
    // width: 100%;
    max-width: none;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 0;
    background-color: transparent;
  }

  .main-header__close-panel {
    display: none;
  }

  .main-header__main-nav {
    margin-bottom: 0;
  }

  .main-header__panel-wrap {
    overflow-y: visible;
  }

  .main-header__panel {
    margin-left: 95px;
  }

  .main-header__logo {
    order: 1;
    margin: 0;
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 80px;
  }

  .main-header__callback {
    &--desktop {
      order: 3;
      margin-left: 40px;
      margin-top: 40px;
    }
  }

  .main-header__panel {
    order: 2;
    width: auto;
    width: auto;
    margin: 0 auto;
    // margin-top: 24px;
    padding: 0;
  }

  .main-header__heading {
    order: 4;
    margin-right: calc(100% - 1200px);
  }

  .main-header__text {
    order: 5;
  }

  .main-header__button-wrap {
    order: 6;
  }

  .main-header__bottom {
    order: 7;
    margin-top: 32px;
    margin-left: 100px;
    width: 100%;
  }

  .main-header__advantages-wrap {
    margin-right: 120px;
    flex-grow: 1;
  }
}
