.video-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-item__text {
  order: 1;
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.video-item__button {
  margin: 0 auto;
}

.video-item__preview {
  display: none;
}

@include respond-to(1024px) {
  .video-item {
    position: relative;
    display: block;
  }

  .video-item__preview {
    position: relative;
    display: block;
    width: 204px;
    height: 115px;
    background-color: color(dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40px;
      background-color: color(secondary);
    }
  }

  .video-item__button-wrap {
    position: absolute;
    bottom: 23px;
    right: 72px;
    z-index: 2;
  }

  .video-item__text {
    position: relative;
    z-index: 1;
    margin-right: 0;
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      bottom: -30px;
      left: 20px;
      display: block;
      width: 1px;
      background-color: color(white);
    }
  }
}

@include respond-to(large) {
  .video-item {
    position: relative;
    padding-left: 120px;
  }

  .video-item__button-wrap {
    right: 100px;
    bottom: 43px;
  }

  .video-item__text {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-bottom: 10px;
    text-align: left;

    &::after {
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 1px;
    }
  }

  .video-item__preview {
    width: 264px;
    height: 150px;

    &::before {
      width: 56px;
    }
  }
}
