mixin location-feedback(data)
    +el({
        class: 'location-feedback',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .location-feedback__wrap
            .location-feedback__branch.js-parallax(style="background-image: url(assets/images/branch-w-2-cone.png)")
            .location-feedback__text
                p.
                    Предложения, подобного нашему&nbsp;&mdash; где одновременно
                    присутствует столько привлекательных и&nbsp;существенных
                    моментов&nbsp;&mdash; вы&nbsp;не&nbsp;найдете ни&nbsp;в&nbsp;районе Ялты, ни&nbsp;в&nbsp;целом
                    на&nbsp;Южном берегу Крыма. Есть места с&nbsp;хорошим видом;
                    или на&nbsp;границе с&nbsp;лесом; или с&nbsp;полным набором
                    инфраструктуры; или в&nbsp;уединенном месте; или
                    в&nbsp;10&nbsp;минутах езды от&nbsp;центра Ялты; и&nbsp;так далее.
                strong.location-feedback__teaser.
                    Но только Экопарк может предложить всё это одновременно!
            +feedback-card({
                mix: 'location-feedback__card',
                heading: 'Заполните форму и&nbsp;мы&nbsp;ответим на&nbsp;все вопросы',
                submit: 'Отправить',
            })
