mixin news-card(data)
    +el({
        tag: 'article',
        class: 'news-card',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'a',
            class: 'news-card__image-wrap',
        })
            +el({
                tag: 'img',
                upload: data.image,
                class: 'news-card__image'
            })
        .news-card__content
            +date({
                mix: 'news-card__date',
                text: data.date,
            })
            +el({
                tag: 'h4',
                class: 'news-card__heading',
                before: {
                    tag: 'a',
                    text: data.heading,
                    class: 'news-card__heading-link',
                }
            })
