mixin house-card-w-slider(data)
    +el({
        class: 'house-card-w-slider',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .house-card-w-slider__image-list
            +el({
                mix: data.index ? 'js-house-card-w-slider js-slider-' + data.index : 'js-house-card-w-slider',
                class: 'swiper-container',
            })
                .swiper-wrapper
                    each item in data.image
                        .house-card-w-slider__image-item.swiper-slide
                            +el({
                                tag: 'a',
                                href: '',
                                class: 'house-card-w-slider__image-wrap',
                            })
                                +el({
                                    tag: 'img',
                                    upload: item,
                                    class: 'house-card-w-slider__image',
                                    alt: 'Фото коттеджа'
                                })
                .house-card-w-slider__control
                    +control({
                        mod: ['prev', 'size-lg', 'bg-light-secondary'],
                        js: 'house-card-w-slider-prev'
                    })
                    +control({
                        mod: ['next', 'size-lg', 'bg-light-secondary'],
                        js: 'house-card-w-slider-next'
                    })
        .house-card-w-slider__content
            .house-card-w-slider__heading-wrap
                +el({
                    tag: 'h4',
                    mix: 'house-card-w-slider__heading',
                    before: {
                        tag: 'a',
                        class: 'house-card-w-slider__heading-link',
                        text: 'коттедж ',
                        after: {
                            tag: 'span',
                            class: 'house-card-w-slider__heading--number',
                            text: data.number,
                        }
                    }
                })
            +specification({
                mix: 'house-card-w-slider__specification',
                mod: 'with-dots',
                items: [
                    {
                        name: 'Площадь дома:',
                        value: '148 м<sup>2</sup>'
                    },
                    {
                        name: 'Площадь участка:',
                        value: '211 м<sup>2</sup>'
                    },
                ]
            })
            .house-card-w-slider__bottom
                .house-card-w-slider__price
                    | !{data.price}
                    span.house-card-w-slider__rouble &#x20BD;
                .house-card-w-slider__button-wrap
                    +button({
                        tag: 'a',
                        mod: ['small', 'shadow'],
                        text: 'Подробнее',
                    })
