include ./el.pug
include ./head.pug
include ./scripts.pug

include ./data/data-main-nav
include ./data/data-advantages
include ./data/data-social
include ./data/data-diarys
include ./data/data-posts
include ./data/data-features
include ./data/data-house
include ./data/data-news
include ./data/data-locations
include ../blocks/button/button.pug
include ../blocks/button-icon/button-icon.pug
include ../blocks/button-video/button-video.pug
include ../blocks/control/control.pug
include ../blocks/field/field.pug
include ../blocks/checkbox-confirm/checkbox-confirm.pug
include ../blocks/form/form.pug
include ../blocks/form/f.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/main-header/main-header.pug
include ../blocks/callback/callback.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/overlay/overlay.pug
include ../blocks/video-item/video-item.pug
include ../blocks/intro/intro.pug
include ../blocks/advantages/advantages.pug
include ../blocks/advantages-item/advantages-item.pug
include ../blocks/social/social.pug
include ../blocks/footer/footer.pug
include ../blocks/arrow/arrow.pug
include ../blocks/tabs/tabs.pug
include ../blocks/news/news.pug
include ../blocks/news-card/news-card.pug
include ../blocks/diary-item/diary-item.pug
include ../blocks/diary/diary.pug
include ../blocks/news-diary/news-diary.pug
include ../blocks/link-w-arrow/link-w-arrow.pug
include ../blocks/date/date.pug
include ../blocks/tabs-diary/tabs-diary.pug
include ../blocks/map/map.pug
include ../blocks/map-card/map-card.pug
include ../blocks/map-list/map-list.pug
include ../blocks/quote/quote.pug
include ../blocks/features/features.pug
include ../blocks/features-text/features-text.pug
include ../blocks/features-image/features-image.pug
include ../blocks/feedback-card/feedback-card.pug
include ../blocks/feedback/feedback.pug
include ../blocks/house-choice/house-choice.pug
include ../blocks/house-plan/house-plan.pug
include ../blocks/house-top/house-top.pug
include ../blocks/house-card/house-card.pug
include ../blocks/specification/specification.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-nav/page-nav.pug
include ../blocks/posts-card/posts-card.pug
include ../blocks/posts/posts.pug
include ../blocks/pagination/pagination.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/link-comeback/link-comeback.pug
include ../blocks/button-close/button-close.pug
include ../blocks/modal/modal.pug
include ../blocks/house-top-card/house-top-card.pug
