include ./el.pug
include ./head.pug
include ./scripts.pug

include ./data/data-main-nav
include ./data/data-advantages
include ./data/data-process
include ./data/data-social
include ./data/data-diarys
include ./data/data-gallery
include ./data/data-posts
include ./data/data-features
include ./data/data-house
include ./data/data-news
include ./data/data-locations
include ./data/data-docs
include ./data/data-about
include ./data/data-service
include ../blocks/button/button.pug
include ../blocks/button-icon/button-icon.pug
include ../blocks/button-video/button-video.pug
include ../blocks/control/control.pug
include ../blocks/field/field.pug
include ../blocks/checkbox-confirm/checkbox-confirm.pug
include ../blocks/form/form.pug
include ../blocks/form/f.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/main-header/main-header.pug
include ../blocks/callback/callback.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/overlay/overlay.pug
include ../blocks/video-item/video-item.pug
include ../blocks/intro/intro.pug
include ../blocks/advantages/advantages.pug
include ../blocks/advantages-item/advantages-item.pug
include ../blocks/social/social.pug
include ../blocks/footer/footer.pug
include ../blocks/arrow/arrow.pug
include ../blocks/tabs/tabs.pug
include ../blocks/news/news.pug
include ../blocks/news-card/news-card.pug
include ../blocks/diary-item/diary-item.pug
include ../blocks/diary/diary.pug
include ../blocks/news-diary/news-diary.pug
include ../blocks/link-w-arrow/link-w-arrow.pug
include ../blocks/date/date.pug
include ../blocks/tabs-diary/tabs-diary.pug
include ../blocks/map/map.pug
include ../blocks/map-card/map-card.pug
include ../blocks/map-list/map-list.pug
include ../blocks/quote/quote.pug
include ../blocks/features/features.pug
include ../blocks/features-text/features-text.pug
include ../blocks/features-image/features-image.pug
include ../blocks/feedback-card/feedback-card.pug
include ../blocks/feedback/feedback.pug
include ../blocks/house-choice/house-choice.pug
include ../blocks/house-plan/house-plan.pug
include ../blocks/house-top/house-top.pug
include ../blocks/house-card/house-card.pug
include ../blocks/specification/specification.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-nav/page-nav.pug
include ../blocks/posts-card/posts-card.pug
include ../blocks/posts-list/posts-list.pug
include ../blocks/pagination/pagination.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/link-comeback/link-comeback.pug
include ../blocks/button-close/button-close.pug
include ../blocks/modal/modal.pug
include ../blocks/house-card-w-slider/house-card-w-slider.pug
include ../blocks/tabs-blocks/tabs-blocks.pug
include ../blocks/house-list/house-list.pug
include ../blocks/house-gallery/house-gallery.pug
include ../blocks/house-info/house-info.pug
include ../blocks/panel-w-tabs/panel-w-tabs.pug
include ../blocks/house-view/house-view.pug
include ../blocks/presentation/presentation.pug
include ../blocks/contacts/contacts.pug
include ../blocks/contacts-card/contacts-card.pug
include ../blocks/docs-card/docs-card.pug
include ../blocks/docs-section/docs-section.pug
include ../blocks/circle/circle.pug
include ../blocks/house-section/house-section.pug
include ../blocks/posts-section/posts-section.pug
include ../blocks/item-w-circle/item-w-circle.pug
include ../blocks/service-card/service-card.pug
include ../blocks/about-form/about-form.pug
include ../blocks/service-section/service-section.pug
include ../blocks/service-intro/service-intro.pug
include ../blocks/about-intro/about-intro.pug
include ../blocks/about-descr/about-descr.pug
include ../blocks/about-card/about-card.pug
include ../blocks/item-w-card/item-w-card.pug
include ../blocks/about-service/about-service.pug
include ../blocks/place-intro/place-intro.pug
include ../blocks/place-quote/place-quote.pug
include ../blocks/place-descr/place-descr.pug
include ../blocks/picture/picture.pug
include ../blocks/service-descr/service-descr.pug
include ../blocks/service-teaser/service-teaser.pug
include ../blocks/service-bonus/service-bonus.pug
include ../blocks/service-garanty/service-garanty.pug
include ../blocks/location-intro/location-intro.pug
include ../blocks/location-feedback/location-feedback.pug
include ../blocks/location-places/location-places.pug
include ../blocks/item-w-number/item-w-number.pug
include ../blocks/condition/condition.pug
include ../blocks/condition-tabs/condition-tabs.pug
include ../blocks/condition-form/condition-form.pug
include ../blocks/condition-card/condition-card.pug
include ../blocks/process/process.pug
include ../blocks/logo-section/logo-section.pug
