include ./include

block vars
    - var pageTitle = 'Экопарк'
    - var main = false

doctype html
html(lang="ru-RU")
    block head
        +head()

    body
        block icon
        block header
            if main == true
                +main-header({})
            else
                +page-header({})
        block content
        block footer
            +footer({})
        block modal
            +modal({
                heading: 'Заполните форму <br>и мы позвоним Вам в&nbsp;ближайшее время',
                js: 'modal-callback',
            })
                +form({
                    firstName: true,
                    tel: true,
                    submit: 'Заказать звонок',
                    modField: 'with-icon',
                    mix: 'modal__form',
                    modSubmit: ['bg-primary', 'medium'],
                })


        block modalPage
        block scripts
            +scripts()
