.field {
  display: block;
  width: 100%;

  &--with-icon {
    position: relative;

    .field__input {
      padding-left: 70px;
    }
  }

  &--w-focus-primary {

  }

  &--border-seconodary {
    .field__input {
      border-color: color(secondary);

      @include hover {
        border-color: color(primary);
      }
    }
  }

  &--border-primary {
    .field__input {
      border-color: color(primary);

      @include hover {
        border-color: color(secondary);
      }
    }
  }
}

.field__label {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  color: color(black);
}

.field__input {
  display: block;
  width: 100%;
  height: 52px;
  min-height: 52px;
  padding: 15px 20px;
  border: 1px solid color(light-gray);
  border-radius: radius(sm);
  background-color: color(white);
  color: color(black);
  font-size: 16px;
  line-height: 20px;
  caret-color: color(black);
  outline: none;

  &::placeholder {
    font-size: 13px;
    color: color(black);
  }

  &:hover,
  &:focus,
  &.active {
    border: 1px solid color(secondary);
  }

  &--error:not(:focus) {
    border: 1px solid color(error);
    color: color(error);

    ~ .field__label {
      color: color(error);
    }
  }
}

.field__icon-wrap {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-right: 1px solid color(light-gray);
}

.field__icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: color(secondary);
  transition: duration(md) func(primary);
}
