mixin house-section(data)
    +el({
        tag: 'section',
        class: 'house-section',
        mod: data.mod,
        mix: data.mix,
    })&attributes(attributes)
        .house-section__wrap
            +tabs-blocks({
                mix: 'house-section__links-group',
                tag: 'a',
                items: [
                    {
                        text: 'Таунхаусы',
                    },
                    {
                        text: 'Коттеджи',
                        mix: 'active',
                    },
                    {
                        text: 'Виллы',
                    },
                ]
            })
            +house-list({
                items: houseList1,
            })
