.features {
  background-color: color(light);
  background-image: url('../assets/images/bg-features.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.features__wrap {
  padding-top: 30px;
  padding-bottom: 20px;
}

.features__heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  color: color(primary);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }
}

.features__list-image-wrap {
  .swiper-slide-active {
    .features-image {
      &::after {
        opacity: 0;
      }
    }
  }
}

.features__item-image {
  width: 100%;
  max-width: 360px;
  height: 300px;
  padding: 0 15px;
  box-sizing: border-box;
}

.features__list-text {
  margin-bottom: 20px;
  max-width: 280px;
  margin: 0 auto;
}

.features__item-text {
}

.features__bullet {
  &--desk {
    display: none;
  }

  &--mob {
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.features__control {
  display: none;
}

.features__nav-slider {
  display: none;
}

@include respond-to(520px) {
  .features__list-text {
    max-width: 400px;
  }
}

@include respond-to(medium) {
  .features {
    position: relative;
    padding-top: 50px;
    padding-bottom: 140px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      bottom: -35px;
      right: 0;
      left: 0;
      height: 120px;
      background-image: url('../assets/images/brush-white02.png');
      background-repeat: no-repeat;
      background-size: auto 120px;
      background-position: top center;
    }
  }

  .features__wrap {
    padding-left: pads(medium);
    padding-right: pads(medium);
  }

  .features__heading {
    max-width: 600;
    margin-bottom: 50px;
    padding: 0;
    color: color(primary);
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    text-transform: none;

    &--hidden {
      display: inline;
    }

    &--accent {
      display: block;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .features__content {
    position: relative;
    height: 488px;
  }

  .features__list-text {
    position: relative;
    width: 340px;
    max-width: none;
    height: 488px;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 120px;
  }

  .features__list-image-wrap {
    position: absolute;
    top: 0;
    left: 390px;
    width: 1040px;
    overflow: hidden;
  }

  .features__list-image {
    width: 33%;
    overflow: visible;
    margin: 0;

    .swiper-slide-duplicate:not(.swiper-slide-active) {
        .features-image {
          &::after {
            opacity: 1;
          }
        }
      }
    }

  .features__item-image {
    height: 486px;
    width: 100%;
  }

  .features__nav-slider {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .swiper-pagination {
      position: static;
    }
  }

  .features__bullet {
    &--desk {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: auto;
      height: 28px;
      margin-top: 0;
      overflow: hidden;

      .swiper-pagination-bullet {
        flex-shrink: 0;
        display: block;
        width: 5px;
        height: 5px;
        padding: 0;
        margin-right: 20px;
        border-radius: 50%;
        background-clip: padding-box;
        background-color: color(primary);
        color: color(primary);
        opacity: 1;
        outline: none;

        &:last-child {
          margin-right: 0;
        }
      }

      .swiper-pagination-bullet-active  {
        ~ *.swiper-pagination-bullet {
          background-color: color(secondary);
          color: color(secondary);
        }
      }
    }

    &--mob {
      display: none;
    }
  }

  .features__fraction {
    display: block;
    width: auto;
    height: 28px;
    font-weight: 500;
    font-size: 0;
    text-align: center;

    &--current {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 36px;
      height: 36px;
      margin-right: 5px;

      .swiper-pagination-current {
        display: block;
        font-size: 24px;
        color: color(primary);
      }

      .swiper-pagination-total {
        display: none;
      }
    }

    &--total {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30px;
      height: 30px;
      margin-left: 5px;

      .swiper-pagination-total {
        display: block;
        font-size: 18px;
        color: color(secondary);
      }

      .swiper-pagination-current {
        display: none;
      }
    }
  }

  .features__control {
    position: static;
      display: flex;
  }

  .features__nav-slider-inner {
    position: relative;
    overflow: hidden;
  }

  // .features__progressbar {
  //   position: absolute;
  //   left: 0;
  //   right: 0px;
  //   top: 14px;
  //   display: block;
  //   height: 1px;
  //   width: auto;
  //   background-color: color(secondary);
  //
  //   .swiper-pagination-progressbar-fill {
  //     display: block;
  //     background-color: color(primary);
  //   }
  // }
}

@include respond-to(large) {
  .features {
    padding-top: 70px;
    padding-bottom: 130px;
  }

  .features__heading {
    margin-bottom: 70px;
  }

  .features__wrap {
    width: width(large);
    margin-left: auto;
    margin-right: auto;
    padding-left: pads(large);
    padding-right: pads(large);
  }
}

@include respond-to(1920px) {
  .features {
    &::before {
      background-size: 100% 120px;
    }
  }

.features__list-image-wrap {
    width: 1040px;
  }
}
