mixin process(data)
    +el({
        class: 'process',
        mod: data.mod,
        mix: data.mix,
        js: data.js
    })&attributes(attributes)
        .process__wrap
            .process__heading Процесс приобретения
            .process__list-wrap
                +el({
                    tag: 'ol',
                    class: 'process__list',
                })
                    each item, index in process
                        +el({
                            tag: 'li',
                            class: 'process__item',
                            js: 'show-item'
                        })
                            +item-w-circle({
                                icon: item.icon,
                                text: item.text
                            })
                            if !(index == (process.length - 1))
                                +el({
                                    tag: 'svg',
                                    class: 'process__arrow',
                                    icon: 'arrow-02',
                                })
