mixin house-top(data)
    +el({
        class: 'house-top',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        .house-top__wrap
            .house-top__heading-wrap
                h2.house-top__heading
                    span.house-top__heading-circle
                        span.house-top__heading-top
                            | топ
                            |
                        span.house-top__heading-number
                            | 3
                        |
                        |
                        span.house-top__heading-accent
                            | дома
                        span.house-top__circle-branch.house-top__circle-branch--inner
                            span.js-parallax(style="background-image: url(assets/images/branch-for-circle-inner.png)")
                        span.house-top__circle-branch.house-top__circle-branch--outer.js-parallax(style="background-image: url(assets/images/branch-for-circle-outer.png)")
                    span.house-top__heading-descr
                        span.house-top__heading-descr-accent
                            | в&nbsp;скандинавском стиле
                        |
                        span.house-top__heading-descr-desktop
                            | на&nbsp;территории современного
                            |
                            |коттеджного поселка
            .house-top__list.js-house-top-slider.swiper-container
                .swiper-wrapper
                    each item, index in data.items
                        .house-top__item.swiper-slide
                            +house-card-w-slider({
                                image: item.image,
                                number: item.number,
                                price: item.price,
                                index: index + 1,
                            })
            .house-top__bullet.js-house-top-bullet.swiper-pagination
