-
    var standarts = [
        {
            image: 'standarts01.jpg',
            heading: 'Сейсмо-<br>устойчивость <br>и надежность',
            text: 'благодаря монолитно-каркасной технологии строительства и укрепление фундаментной плиты монолитными сваями',
        },
        {
            image: 'standarts02.jpg',
            heading: 'Сертификаты экологической безопасности',
            text: 'меют все материалы, использованные при строительстве домов поселка',
        },
        {
            image: 'standarts03.jpg',
            heading: 'Инженерное оборудование ведущих производителей',
            text: 'позволит сделать Вашу жизнь в поселке комфортной и безопасной',
        },
    ];
