-
    var process = [
        {
            icon: 'process-01',
            text: 'Заявка / Звонок',
        },
        {
            icon: 'process-02',
            text: 'Предоставление полной информации',
        },
        {
            icon: 'process-03',
            text: 'Просчет',
        },
        {
            icon: 'process-04',
            text: 'Заключение договора',
        },
        {
            icon: 'process-05',
            text: 'Покупка',
        },
        {
            icon: 'process-06',
            text: 'Оплата стоимости перелета в&nbsp;Экопарк после покупки',
        },
    ];
