-
    var locations = [
        {
            text: 'Детский сад'
        },
        {
            text: 'Зоопарк «Сказка»'
        },
        {
            text: 'ТЦ «Конфети»'
        },
        {
            text: 'Заповедник'
        },
        {
            text: 'Аквапарк «Атлантида»'
        },
        {
            text: 'СПА-цент «Ливадийский»'
        },
        {
            text: 'Дельфинарий «Акватория»'
        },
        {
            text: 'Ресторан «Астория»'
        },
        {
            text: 'Школа №123'
        },
        {
            text: 'Больница детская'
        },
    ]
