-
    var houseTop = [
        {
            image: ['image06.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image07.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image05.jpg', 'image07.jpg', 'image06.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
    ];

-
    var house = [
        {
            image: 'image06.jpg',
            number: '04',
        },
        {
            image: 'image07.jpg',
            number: '14',
        },
        {
            image: 'image07.jpg',
            number: '26',
        },
    ];

-
    var houseList1 = [
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
    ];

-
    var houseList2 = [
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },

        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
    ];

-
    var houseList3 = [
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image07.jpg', 'image06.jpg', 'image05.jpg'],
            number: '26',
            price: '15,7 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
        {
            image: ['image06.jpg', 'image05.jpg', 'image07.jpg'],
            number: '14',
            price: '14,2 млн.',
        },
        {
            image: ['image05.jpg', 'image06.jpg', 'image07.jpg'],
            number: '04',
            price: '12 млн.',
        },
    ];
