-
    var featuresText = [
        {
            heading: 'Богатая внутренняя инфраструктура',
            text: '<p>В распоряжении всех владельцев домов клубного поселка смотровая площадка-беседка, бассейн взрослый и детский, баня, детская площадка, зона барбекю и спортивная площадка.</p>',
        },
        {
            heading: 'Ответственность и профессионализм',
            text: '<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рыбного, вскоре. Языкового, переписали, агентство. Назад путь меня по всей образ.</p>',
        },
        {
            heading: 'Гарантия качества',
            text: '<p>Обязательные этапы обработки: кондиционирование и&nbsp;соусирование, резка и&nbsp;сушка резаного продукта, отделение табачной жилки и&nbsp;пыли, ароматизация, хранение.</p>',
        },
    ];

-
    var featuresImages = [
        {
            image: 'features01.jpg',
        },
        {
            image: 'features02.jpg',
        },
        {
            image: 'features03.jpg',
        },
    ];
