-
    var advantages = [
        {
            icon: 'leaf',
            text: '<p>Экологичность расположения поселка. Горно-лесной заповедник 14Га начинается прямо у&nbsp;порога.</p>',
        },
        {
            icon: 'location',
            text: '<p>Закрытая клубная территория 1Га, включающая бассейн, баню, детскую и&nbsp;спорт. площадки и&nbsp;зоны отдыха.</p>',
        },
        {
            icon: 'sun',
            text: '<p>10 мин езды до набережной Ялты, 15&nbsp;мин до Ливадийских пляжей.</p>',
        },
    ];
