-
    var service = [
        {
            image: 'about-service-01',
            heading: 'Круглосуточно Безопасность',
            text: 'обеспечена за&nbsp;счет надежной ограды, пропускной системы в&nbsp;сочетании с&nbsp;видеонаблюдением и&nbsp;круглосуточной охраной внутренний территории поселка',
        },
        {
            image: 'about-service-02',
            heading: 'Комфортное проживание',
            text: 'в&nbsp;окружении людей разделяющие одни ценности. Это помогает создать атмосферу не&nbsp;простого жилого комплекса, а&nbsp;настоящего загородного клуба',
        },
        {
            image: 'about-service-03',
            heading: 'Инженерные коммуникации',
            text: 'заведены в&nbsp;каждое из&nbsp;домовладений, а&nbsp;именно водоснабжение, канализационная система, газ и&nbsp;электричество мощностью 15&nbsp;кВт',
        },

    ];

-
    var serviceIcons = [
        {
            icon: 'service-01',
            text: 'Техническое обслуживание и&nbsp;управление  недвижимостью',
        },
        {
            icon: 'service-02',
            text: 'Профессиональная уборка и&nbsp;химчистка',
        },
        {
            icon: 'service-03',
            text: 'Услуги на участке',
        },
        {
            icon: 'service-04',
            text: 'Услуги садовника',
        },
        {
            icon: 'service-05',
            text: 'Услуги курьера',
        },
        {
            icon: 'service-06',
            text: 'Кейтеринг',
        },
        {
            icon: 'service-07',
            text: 'Трансфер',
        },
    ];

-
    var serviceBonusIcons = [
        {
            icon: 'service-03',
            text: 'Услуги професси-<br>ональной няни',
        },
        {
            icon: 'service-04',
            text: 'Проведение и организация <br>детских праздников',
        },
    ];

-
    var serviceGarantyIcons = [
        {
            icon: 'service-08',
            text: 'Конфиденциальность',
        },
        {
            icon: 'service-09',
            text: 'Круглосуточную поддержку',
        },
    ];
