-
    var posts = [
        {
            image: 'image01.jpg',
            date: '29 апреля 2019',
            heading: 'уже продано 8 участков!',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image02.jpg',
            date: '29 апреля 2019',
            heading: 'разработан очередной проект виллы',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image03.jpg',
            date: '29 апреля 2019',
            heading: 'План мероприятий «Майские праздники в Ялте»',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image01.jpg',
            date: '29 апреля 2019',
            heading: 'Уже продано 8 участков!',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image02.jpg',
            date: '29 апреля 2019',
            heading: 'Разработан очередной проект виллы',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image03.jpg',
            date: '29 апреля 2019',
            heading: 'План мероприятий «Майские праздники в Ялте»',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image01.jpg',
            date: '29 апреля 2019',
            heading: 'уже продано 8 участков!',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image02.jpg',
            date: '29 апреля 2019',
            heading: 'разработан очередной проект виллы',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
        {
            image: 'image03.jpg',
            date: '29 апреля 2019',
            heading: 'План мероприятий «Майские праздники в Ялте»',
            text: 'Повседневная практика показывает, что синтетическое тестирование предоставляет широкие возможности для укрепления моральных ценностей',
        },
    ];
