-
    var aboutIcons = [
        {
            icon: 'about-01',
            text: 'Смотровая площадка-беседка',
        },
        {
            icon: 'about-02',
            text: 'Бассейн взрослый <br>и&nbsp;детский',
        },
        {
            icon: 'about-03',
            text: 'Русская <br>баня',
        },
        {
            icon: 'about-04',
            text: 'Спортивная <br>площадка',
        },
        {
            icon: 'about-05',
            text: 'Гостевая <br>парковка',
        },
        {
            icon: 'about-06',
            text: 'Зона <br>барбекю',
        },
        {
            icon: 'about-07',
            text: 'Детская <br>площадка',
        },
        {
            icon: 'about-08',
            text: 'Смотровая <br>площадка',
        },
        {
            icon: 'about-09',
            text: 'Круглосуточная <br>охрана',
        },
    ];
