-
    var gallery = {
        main: [
            {
                image: 'gallery-main-01.jpg',
            },
            {
                image: 'gallery-main-02.jpg',
            },
            {
                image: 'gallery-main-03.jpg',
            },
            {
                image: 'gallery-main-04.jpg',
            },
        ],
        nav: [
            {
                image: 'gallery-nav-01.jpg',
            },
            {
                image: 'gallery-nav-02.jpg',
            },
            {
                image: 'gallery-nav-03.jpg',
            },
            {
                image: 'gallery-nav-04.jpg',
            },
        ]
    }
