-
    var buildingIcons = [
        {
            icon: 'building-01',
            text: 'Производим полный цикл работ без обращения к сторонним подрядчикам',
        },
        {
            icon: 'building-02',
            text: 'Используем собственную технику',
        },
        {
            icon: 'building-03',
            text: 'Строительство проходит под полным контролем технического и авторского надзора',
        },
        {
            icon: 'building-04',
            text: 'Учитываем особенности местности и природу, сохраняя каждое дерево',
        },
    ];
