-
    var diarys = [
        {
            image: 'image04.jpg',
        },
        {
            image: 'image01.jpg',
        },
        {
            image: 'image02.jpg',
        },
    ];


-
    var diarys2 = [
        {
            image: 'image02.jpg',
        },
        {
            image: 'image03.jpg',
        },
        {
            image: 'image04.jpg',
        },
    ];


-
    var diarys3 = [
        {
            image: 'image01.jpg',
        },
        {
            image: 'image02.jpg',
        },
        {
            image: 'image03.jpg',
        },
    ];

-
    var diarys4 = [
        {
            image: 'image04.jpg',
        },
        {
            image: 'image03.jpg',
        },
        {
            image: 'image02.jpg',
        },
    ];
