-
    var mainNav = [
        {
            text: 'Об экопарке',
            mod: ['lvl-2', 'current'],
            js: 'main-nav-dropdown',
            jsLink: 'main-nav-dropdown-button',
            tag: 'button',
            items: [
                {
                    text: 'Описание'
                },
                {
                    text: 'Особенности строительства',
                },
                {
                    text: 'Что рядом?',
                },
                {
                    text: 'Документация',
                },
            ]
        },
        {
            text: 'Наши объекты',
            mod: ['lvl-2'],
            js: 'main-nav-dropdown',
            jsLink: 'main-nav-dropdown-button',
            tag: 'button',
            items: [
                {
                    text: 'Танхаусы',
                },
                {
                    text: 'Виллы',
                },
                {
                    text: 'Коттеджи',
                },
            ]
        },
        {
            text: 'Условия приобретения',
            href: 'page-delivery.html',
        },
        {
            text: 'Услуги',
            href: 'page-contacts.html',
        },
        {
            text: 'Блог',
            href: 'page-contacts.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];


-
    var pageNav = [
        {
            text: 'Об экопарке',
            mod: ['lvl-2', 'current'],
            js: 'page-nav-dropdown',
            jsLink: 'page-nav-dropdown-button',
            tag: 'button',
            items: [
                {
                    text: 'Описание'
                },
                {
                    text: 'Особенности строительства',
                },
                {
                    text: 'Что рядом?',
                },
                {
                    text: 'Документация',
                },
            ]
        },
        {
            text: 'Наши объекты',
            mod: ['lvl-2'],
            js: 'page-nav-dropdown',
            jsLink: 'page-nav-dropdown-button',
            tag: 'button',
            items: [
                {
                    text: 'Танхаусы',
                },
                {
                    text: 'Виллы',
                },
                {
                    text: 'Коттеджи',
                },
            ]
        },
        {
            text: 'Условия приобретения',
            href: 'page-delivery.html',
        },
        {
            text: 'Услуги',
            href: 'page-contacts.html',
        },
        {
            text: 'Блог',
            href: 'page-contacts.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];
