-
    var docs = [
        {
            heading: 'План здания, конструктивные и архитектурно-планировочные показатели',
        },
        {
            heading: 'Договор купли-продажи земельного участка',
        },
        {
            heading: 'Технический паспорт',
        },
        {
            heading: 'Положительное заключение негосударственной экспертизы',
        },
        {
            heading: 'Проектная документация электронный вариант',
        },
        {
            heading: 'Выписка ЕГРН',
        },
        {
            heading: 'План здания, конструктивные и архитектурно-планировочные показатели',
        },
        {
            heading: 'Договор купли-продажи земельного участка',
        },
        {
            heading: 'Технический паспорт',
        },
        {
            heading: 'Положительное заключение негосударственной экспертизы',
        },
    ];
