-
    var mainNav = [
        {
            text: 'Об экопарке',
        },
        {
            text: 'Наши объекты',
        },
        {
            text: 'Условия приобретения',
            href: 'page-delivery.html',
        },
        {
            text: 'Услуги',
            href: 'page-contacts.html',
        },
        {
            text: 'Блог',
            href: 'page-contacts.html',
        },
        {
            text: 'Контакты',
            href: 'page-contacts.html',
        },
    ];
