-
    var social = [
        {
            icon: 'vk',
            title: 'Мы в Контакте',
        },
        {
            icon: 'fb',
            title: 'Мы в Фейсбуке',
        },
        {
            icon: 'inst',
            title: 'Мы в Инстаграме',
        },
    ]
