.callback {
  position: relative;
  padding-left: 54px;
  text-align: left;

  &--small {
    padding-left: 46px;

    .callback__link {
      font-size: 17px;
      line-height: 1;
    }

    .callback__number {
      font-size: 21px;
    }

    .callback__text {
      font-size: 12px;
      line-height: 1;
    }

    .callback__button {
      top: 5px;
    }
  }

  &--primary {
    .button-icon__icon {
      fill: color(primary);
    }

    .callback__text {
      color: color(primary);
    }

    .callback__link {
      color: color(primary);
    }
  }
}

.callback__button {
  position: absolute;
  top: 2px;
  left: 0;
  flex-shrink: 0;
}

.callback__link {
  display: inline-block;
  padding: 4px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
  transform: translate(-4px);
}

.callback__number {
  font-size: 26px;
  font-weight: 500;
}

.callback__text {
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  color: #eaeaea;
}
