.feedback-card {
  .form__confirm {
    color: color(secondary-light);
  }
}

.feedback-card__heading {
  margin: 0;
  margin-bottom: 20px;
  color: color(white);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  text-transform: none;
}

.feedback-card__branch {
  display: none;
}

.feedback-card__form {
  max-width: 500px;
  margin: 0 auto;
}

@include respond-to(medium) {
  .feedback-card {
    padding: 30px 40px;
    padding-bottom: 50px;
    background-color: color(secondary-light);
    border-radius: radius(sm);

    .field__input {
      &:hover,
      &:focus,
      &.active {
        border: 1px solid color(primary);
      }
    }

    .form__submit {
      background-color: color(primary);
      color: color(white);

      @include hover {
        background-color: darken(color(primary), $change);
        color: rgba(color(white), 0.7);
      }
    }

    .form__confirm {
      color: color(primary);
    }
  }

  .feedback-card__heading {
    position: relative;
    min-height: 93px;
    margin-bottom: 30px;
    padding-left: 85px;
    display: flex;
    color: color(primary);
    font-size: 20px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      display: block;
      width: 65px;
      height: 93px;
      background-image: url('../assets/images/logo-primary.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .feedback-card__form {
    max-width: none;
    margin: 0;
  }
}

@include respond-to(large) {
  .feedback-card {
    padding: 0 60px;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .feedback-card__heading {
    margin-bottom: 50px;
  }
}
