mixin feedback-card(data)
    +el({
        class: 'feedback-card',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'h4',
            class: 'feedback-card__heading',
            text: data.heading,
        })
        +form({
            firstName: true,
            tel: true,
            email: true,
            submit: data.submit,
            modField: 'with-icon',
            mix: 'feedback-card__form',
            modSubmit: ['bg-secondary', 'medium'],
        })
