mixin feedback-card(data)
    +el({
        class: 'feedback-card',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        h4.feedback-card__heading
            +el({
                tag: 'svg',
                icon: 'logo',
                class: 'feedback-card__heading-logo',
            })
            | Лучшие планировки будут у&nbsp;Вас на почте в&nbsp;течение 15&nbsp;минут
        +form({
            firstName: true,
            tel: true,
            email: true,
            submit: 'Получить планировки',
            modField: 'with-icon',
            mix: 'feedback-card__form',
            modSubmit: ['bg-secondary', 'medium'],
        })
        .feedback-card__branch.js-parallax(style="background-image: url(assets/images/branch-small-w-shadow.png)")
