mixin pin(data)
    +el({
      class: 'pin',
      mix: data.mix,
      mod: data.mod,
      js: data.js,
    })&attributes(attributes)
        +el({
            tag: 'span',
            class: 'pin__num',
            text: data.text
        })
