mixin page-header(data)
    +el({
        tag: data.tag ? data.tag : 'header',
        class: 'page-header',
        mix: 'js-header-scroll',
        mod: data.mod,
        js: 'header',
    })&attributes(attributes)
        .page-header__wrap
            .page-header__col.page-header__col--left
                .page-header__button-nav-wrap
                    +button-nav({
                        mix: 'page-header__button-nav',
                        js: 'button-nav',
                        mod: 'primary',
                    })
            +el({
                tag: 'a',
                class: 'page-header__logo',
                js: data.js,
                href: 'page-main.html',
                title: 'Вернуться на главную страницу',
                before: {
                    tag: 'img',
                    class: 'page-header__logo-image',
                    image: 'logo-page.svg',
                    width: '50',
                    height: '59',
                    alt: 'logo',
                }
            })
            .page-header__col.page-header__col--right
                +button-icon({
                    tag: 'a',
                    href: 'tel:88005053848',
                    mod: 'primary',
                    mix: 'page-header__phone-button',
                    ariaLabel: 'Позвонить',
                    icon: 'tel',
                })
                +callback({
                    mix: 'page-header__callback page-header__callback--desktop',
                    iconColor: 'primary',
                    mod: ['small', 'primary'],
                })
            nav.page-header__panel.js-panel-main-nav(aria-label='Основное меню' itemscope itemtype='http://schema.org/SiteNavigationElement')
                +button-close({
                    mix: 'page-header__close-panel',
                    js: 'panel-close'
                })
                .page-header__panel-wrap
                    +page-nav({
                        items: pageNav,
                        mix: 'page-header__page-nav'
                    })
                    .page-header__panel-bottom
                        +callback({
                            mod: ['small', 'primary'],
                            mix: 'page-header__callback page-header__callback--mobile',
                        })
        +overlay({
            js: 'header-overlay',
            mix: 'page-header__overlay',
        })
