.link-w-arrow {
  position: relative;
  display: inline-block;
  padding-right: 14px;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: color(black);

  @include hover {
    text-decoration: underline;

    .link-w-arrow__arrow {
      border-top-color: color(secondary);
      border-right-color: color(secondary);
    }
  }
}

.link-w-arrow__arrow {
  position: absolute;
  top: 5px;
  right: 0;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  transform-origin: center;
}
