.article {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

  .date {
    margin-bottom: 20px;
  }

  img {
    display: inline-block;
    border-radius: radius(sm);
  }

  h2 {
    page-break-before: always;
    page-break-after: avoid;
  }

  h3, h4 {
    page-break-after: avoid;
  }


}

@include respond-to(medium) {
  .article {
    blockquote {
      padding: 30px;
      font-size: 19px;
    }

    .date {
      margin-bottom: 30px;
    }
  }
}

@include respond-to(1024px) {
  .article {
    column-count: 2;
    column-gap: 30px;
  }

}


@include respond-to(large) {
  .article {
    blockquote {
      padding: 40px;
      font-size: 20px;
    }

    .date {
      margin-bottom: 40px;
    }
  }
}
