.main-content__wrap {
  position: relative;
  @include wrapper;
}

@include respond-to(medium) {
  .main-content__section-top-wrap {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      z-index: -1;
      height: 1220px;
      background-image: url('../assets/images/bg-choice-house.jpg');
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .main-content__house-plan {
    order: 1;
  }

  .main-content__feedback {
    order: 3;
  }

  .main-content__house-top {
    order: 2;
  }
}

@include respond-to(medium) {
  .main-content__section-top-wrap {
    &::after {
      top: 200px;
      right: -70px;
      height: 1390px;
    }
  }
}

@include respond-to(1600px) {
  .main-content__wrap {
    position: relative;
  }

  .main-content__branch {
    &--top {
      position: absolute;
      top: 330px;
      right: 230px;
      transform: translate(100%);
      z-index: 2;
      display: block;
      width: 858px;
      height: 705px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 858px 705px;
      box-sizing: border-box;
    }
  }
}
