.social {
  display: flex;
  align-items: center;
  @include ul-no;

  &--primary {
    .social__link {
      @include hover {
        .social__icon {
          opacity: 0.6;
        }
      }
    }

    .social__icon {
      fill: color(primary);
    }
  }

  &--invert {
    .social__link {
      background-color: rgba(color(secondary), 0.2);

      @include hover {
        background-color: rgba(color(secondary), 0.4);
      }
    }

    .social__icon {
      fill: color(white);
    }
  }
}

.social__item {
  margin-right: 20px;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: duration(md);
}

.social__icon {
  display: block;
  width: 100%;
  height: 100%;
}
